<%- include('layout.ejs') %>
<main>
  <h1><%= title %></h1>
  <ul>
    <% for(let author of author_list) { %>
    <li>
      <a href=<%= author.url %>>
        <%= author.name %> 
        | 
        <%= author.date_of_birth == null ? '???' : author.birth_formatted %> 
        - 
        <%= author.date_of_death == null ? '???' : author.death_formatted %>
      </a>
    </li>
    <% } %>
  </ul>
</main>
