<%- include('layout.ejs') %>
<main>
  <h1><%= title %></h1>
  <form action="" method="POST">
    <div class="form-group">
        <label for="first_name">First Name:</label>
        <input
            type="text"
            name="first_name"
            id="first_name"
            class="form-control"
            placeholder="First Name (Bobert)"
            required="true"
            value=<%= undefined===author ? '' : author.first_name %>
        >
        <label for="family_name">Family Name:</label>
        <input
            type="text"
            name="family_name"
            id="family_name"
            class="form-control"
            placeholder="Family Name (Bobson)"
            required="true"
            value=<%= undefined===author ? '' : author.family_name %>
        >
    </div>
    <div class="form-group">
        <label for="date_of_birth">Date of birth:</label>
        <input 
            type="date" 
            name="date_of_birth" 
            id="date_of_birth" 
            class="form-control" 
            value=<%= undefined==author ? '' : author.form_birth_formatted %>
        >

        <label for="date_of_death">Date of death:</label>
        <input 
            type="date" 
            name="date_of_death" 
            id="date_of_death"
            class="form-control"
            value=<%= author===undefined ? '' : author.form_death_formatted %>>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>

  <% if (errors) { %>
  <ul>
    <% for(error of errors) { %> 
        <li><%= error.msg %></li>
    <% } %>  
  </ul>
  <% } %>

</main>
