<%- include('layout.ejs') %>
<main>
    <h1><%= title %></h1>

    <form action="" method="POST">
        <div class="form-group">
            <label for="title">Title:</label>
            <input 
                type="text" 
                name="title" 
                id="title"
                class="form-control"
                placeholder="Name of book"
                required="true"
                value="<%= book === undefined ? '' : book.title %>">
        </div>
        <div class="form-group">
            <label for="author">Author:</label>
            <select 
                type="select" 
                name="author" 
                id="author"
                class="form-control"
                placeholder="Select author"
                required="true">
                <% let authorsSorted = authors.sort((a,b) => {let textA = a.family_name.toUpperCase(); let textB = b.family_name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;}) %>
                <% for(let author of authorsSorted) { %> 
                    <%# handle GET form, where book.author is an obj, and POST form, where it is a string %>
                    <% if(book !== undefined) { %> 
                        <option 
                            value=<%= book.author._id %>
                            selected=<%= author._id.toString()===book.author._id.toString() ? 'selected' : false %>>
                            <%= `${book.author.family_name}, ${book.author.first_name}` %>
                        </option> 
                    <% } else { %>
                        <option value=<%= author._id %>>
                            <%= `${author.family_name}, ${author.first_name}` %>
                        </option>
                    <% } %>
                <% } %>
            </select>
        </div>
        <div class="form-group">
            <label for="summary">Summary:</label>
            <textarea 
                name="summary" 
                id="summary"
                placeholder="Summary" 
                cols="30" 
                rows="10"
                required="true">
                <%= (book === undefined ? '' : book.summary) %>
            </textarea>
        </div>
        <div class="form-group">
            <label for="isbn">ISBN:</label>
            <input 
                type="text"
                name="isbn"
                placeholder="ISBN13"
                value=<%= book === undefined ? '' : book.isbn %>>
        </div>
        <div>
            <label>Genre:</label>
            <% for(let genre of genres) { %> 
                <% if (genre != undefined) { %>
                <div style="display: inline; padding-right: 10px;">
                        <input 
                            type="checkbox"
                            name="genre"
                            class="checkbox-input"
                            id="<%= genre._id %>"
                            value="<%= genre._id %>"
                            <%= book !== undefined ? (book.genre.map(x => x.name).includes(genre.name) ? 'checked' : 'unchecked') : 'unchecked' %>>
                        <label for=<%= genre._id %>><%= genre.name %></label>
                    </div>
                <% } %>
            <% } %>
            
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <% if(errors) { %>
        <ul>
            <% for(let error of errors) { %>
                <li><%= error.msg %></li>
            <% } %>
        </ul>
    <% } %>
</main>