<%- include('layout.ejs') %>
<main>
    <h1><%= title %></h1>

    <% if (bookinstance_list.length > 0) { %> 
        <p>Delete the following book instances before attempting to delete this book</p>
        <div>
            <h4>Book Instances</h4>
            <dl>
                <% for(let instance of bookinstance_list) { %>
                    <hr>
                    <dt>
                        <a href=<%= instance.url %>>
                            Id: <%= instance._id %>
                        </a>
                    </dt>
                    <dd>Imprint: <%= instance.imprint %></dd>
                    <dd>Status: <%= instance.status %></dd>
                    <dd>Due Back: <%= instance.due_back %></dd>
                <% } %>
            </dl>
        </div>
    <% }  else { %>
        <p>Are you sure you want to delete this Book?</p>
        <form action="" method="POST">
            <div class="form-group">
                <input 
                    type="hidden" 
                    name="bookid" 
                    id="bookid"
                    class="form-control"
                    required="true"
                    value="<%= book._id %>">
            </div>

            <button class="btn btn-primary" type="submit">DELETE</button>
        </form>
    <% } %>
</main>