<%- include("layout.ejs") %>
<main>
    <h1><%= title %></h1>
    <% if(books.length > 0) { %>
         <p>please remove all books associated with this genre before deleting</p>
         <h4>Books</h4>
         <div>
            <dl>
                <% for(let book of books) { %> 
                    <dt>
                        <a href=<%= book.url%>><%= book.title %></a>
                    </dt>
                    <dd><%= book.summary %></dd>
                <% } %>
            </dl>
         </div>
    <% } else { %>
        <p>Are you sure you want to delete: <strong><%= genre.name %></strong></p>
        <form action="" method="POST">
            <div class="form-group">
                <input 
                    type="hidden" 
                    name="id" 
                    id="id"
                    class="form-control"
                    required="true"
                    <% console.log(genre._id) %>
                    value=<%= genre._id%>>
            </div>

            <button class="btn btn-primary" type="submit">DELETE</button>
        </form>
    <% } %>
</main>